@{
    ViewData["Title"] = "Home Page";
}
<br />
@if (@ViewBag.error != null)
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        @ViewBag.error
    </div>
}
@if (@ViewBag.ok != null)
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        @ViewBag.ok
    </div>
}

<br />

<div class="row">

    <div class="col-2"></div>
    <div class="col-8 text-center">
        <div class="btn-group">
            <div>
                <a class="btn btn-primary text-white sameSizeButton" asp-controller="Booking" asp-action="Create">
                    <i class="fas fa-car fa-2x"></i>
                    <h4>Bokning av bil</h4>
                </a>
                <a class="btn btn-dark text-white sameSizeButton" asp-controller="Booking" asp-action="Index">
                    <i class="far fa-credit-card fa-2x"></i>
                    <h4>Återlämning av bil</h4>
                </a>
                <br />
                <br />
                <a class="btn btn-primary text-white sameSizeButton" asp-controller="Customer" asp-action="ShowListOfCustomers">
                    <i class="fas fa-list-alt fa-2x"></i>
                    <h4>Visa kunder</h4>
                </a>
                <a class="btn btn-dark text-white sameSizeButton" asp-controller="Customer" asp-action="CreateNewCustomer">
                    <i class="fas fa-address-book fa-2x"></i>
                    <h4>Lägg till kund</h4>
                </a>

                <br />
                <br />
                <a class="btn btn-primary text-white sameSizeButton" asp-controller="Car" asp-action="ShowAllCars">
                    <i class="fas fa-ambulance fa-2x"></i>
                    <h4>Visa våra bilar</h4>
                </a>
                <a class="btn btn-dark text-white sameSizeButton" asp-controller="Car" asp-action="CreateNewCar">
                    <i class="fas fa-truck-pickup fa-2x"></i>
                    <h4>Lägg till ny bil</h4>
                </a>
                <br />
                <br />

                <a class="btn btn-success text-white notSameSizeButton" asp-controller="Booking" asp-action="ShowAllActiveBookings">
                    <i class="fas fa-clipboard-list fa-2x"></i>
                    <h4>Visa aktiva bokningar</h4>
                </a>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
