@{
    ViewData["Title"] = "Home Page";
}

<br /><br /><br /><br /><br /><br /><br />

<div class="row">
    <div class="col-2"></div>
    <div class="col-10">
        <div class="btn-group">
            <div>
                <a class="btn btn-primary text-white sameSizeButton" asp-controller="Booking" asp-action="Create">
                    <i class="fas fa-car fa-6x"></i>
                    <h1>Bokning av bil</h1>
                </a>
                <a class="btn btn-dark text-white sameSizeButton" asp-controller="Booking" asp-action="Index">
                    <i class="far fa-credit-card fa-6x"></i>
                    <h1>Återlämning av bil</h1>
                </a>
                <br />
                <br />
                <a class="btn btn-warning text-white sameSizeButton" asp-controller="Customer" asp-action="ShowListOfCustomers">
                    <i class="fas fa-list-alt fa-6x"></i>
                    <h1>Visa kunder</h1>
                </a>
                <a class="btn btn-success text-white sameSizeButton" asp-controller="Booking" asp-action="ShowAllActiveBookings">
                    <i class="fas fa-clipboard-list fa-6x"></i>
                    <h1>Visa aktiva bokningar</h1>
                </a>
                <br />
                <br />
                <a class="btn btn-success text-white sameSizeButton" asp-controller="Car" asp-action="ShowAllCars">
                    <i class="fas fa-clipboard-list fa-6x"></i>
                    <h1>Visa våra bilar</h1>
                </a>
                <a class="btn btn-success text-white sameSizeButton" asp-controller="Car" asp-action="CreateNewCar">
                    <i class="fas fa-clipboard-list fa-6x"></i>
                    <h1>Lägg till ny bil</h1>
                </a>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
